<h1><%= @camp.name %></h1>
<p><%= @camp.description %></p>
<p>Type: <%= @camp.camp_type %></p>
<p>Length: <%= @camp.length %> days</p>
<p>Price: £<%= @camp.price %></p>
<p>Things to bring: <%= @camp.things_to_bring %></p>
<p>Postcode: <%= @camp.postcode %></p>
<br>
<div><%= link_to "Back", root_path %></div>